<tr hx-target="this" hx-swap="outerHTML">
    <td class="border-0" >
        <div class="form-row mb-3">
            <div class="col">
                Item name: <b>{{ item.name }}</b>
            </div>

            <div class="col">


                    <form>
                        {% csrf_token %}
                        <button class="btn btn-danger " hx-post="{% url 'item-delete' pk=item.pk %}" hx-confirm="Are you sure?">
                        Delete
                        </button>
                    </form>
                    <button hx-get="{% url 'item-edit' pk=item.pk %}" class="btn btn-primary ">
                    Edit
                    </button>

            </div>
        </div>
    </td>
</tr>