

{% block content %}
<div class="card">
<div class="card-header">
    <h2>Order #:{{ order.id }}</h2>
</div>
<div class="card-body">
    <table class="table table-striped m-0">
        <thead>
            <tr>
                <th class="border-0" scope="col">{{ order.id }}</th>
            </tr>
        </thead>
        <tbody id="order-items">
            {% include "ordering_system/order_items.html" with order=order %}
        </tbody>
    </table>
    <div class="card-body px-3" hx-target="#order-items" hx-swap="beforeend">
        <button hx-get="{% url 'item-create' pk=order.pk %}" type="submit" class="btn btn-outline-primary btn-sm">
            <i class="fas fa-plus"></i>
            Add Item
        </button>
    </div>
</div>
    </div>
{% endblock %}
